# Java

*.class
*.war
*.ear
/bin/

# Eclipse

.classpath
.project
.settings/

# Gradle

gradlew
gradlew.bat
/gradle/
.gradle/
/local.properties
gradle-app.setting
/build/

# Source

src/agzam4/Debug.java
