# Java
*.class
*.war
*.ear
/bin/

# Eclipse
.classpath
.project
.settings/

# Gradle
gradlew
gradlew.bat
/gradle/
.gradle/
/local.properties
gradle-app.setting
/build/

# Env
.env.properties

# Apt
/.apt_generated/
.factorypath
/gen/

# :processor
processor/bin
